*{
	margin:0px;
	padding:0px;
}


#start {
   height: 1000px;
   width: 100%;
  
    padding-top: 280px;
    
}


body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
/*    background: linear-gradient(180deg, #9979FF, #D46CFF, #FF8296, #FFA16B, #E5F073, #52F2A2, #1EDCFF, #1E69FF);*/
    
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}






h1 {
    font-family: Arial; 
 
    font-size: 400%;
    font-weight: 900;
    text-transform: uppercase;
    
    -webkit-text-stroke: 1.5px black;
	-webkit-text-fill-color: white;
    -webkit-appearance: none;    
    
    text-align: center; 
    vertical-align: middle;
    
}

#form {
    text-align: center; 
    vertical-align: middle;
    
}

#input {
    
/*    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);*/
    
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    
    
    width: 200px; 
/*
    height: 200px; 
    
    background-color: #4CAF50;  Green 
*/
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
   
    font-family:Impact; 
    font-size: 30px;
    
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;    
    cursor: pointer;
}


#input:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#input:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


